head {
        background: #fff;
}

ul, ol {
        list-style-type: none; /*прибрати знаки списків шо автоматично задаються в html */
}

body {
        font-family: "Roboto", sans-serif;
        color: #434455;
        background-color: #FFFFFF;
        text-decoration:none;
}

.menu-nav {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        font-family: "Roboto", sans-serif;
}

.menu-nav:hover {
        color: #404bbf;
}

.menu-nav:focus {
        color: #404bbf;
}

.main-logo {
        justify-content: flex-start;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        font-family: "Raleway", sans-serif;

}

span {
        font-weight: 700;
        font-size: 18px;
        line-height: 1.16667;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #2e2f42;
        font-family: "Raleway", sans-serif;
}

.menu-nav-a {
        color: #2e2f42;
}

.menu-nav-a:hover {
        color: #404bbf;

}

.menu-nav-a:focus {
        color: #404bbf;

}

.address-mail-tel {
        font-style: normal;
}

.mail-tel {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        font-family: "Roboto", sans-serif;
        font-style: normal;
}

.mail-tel:hover {
        color: #404bbf;
}

.mail-tel:focus {
        color: #404bbf;
}

.one-section {
        background-color: #2e2f42;
}

.one-h {
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        font-family: "Roboto", sans-serif;
}

.one-button {
        background-color: #4d5ae5;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        cursor: pointer;
}

.one-button:hover {
        background-color: #404BBF;
}

.one-button:focus {
        background-color: #404BBF;
}

.two-h {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11111;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        font-family: "Roboto", sans-serif;
}

.three-strategy-h {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        font-family: "Roboto", sans-serif;
}

.three-strategy-p {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        font-family: "Roboto", sans-serif;
}

.three-section {
        background-color: #F4F4FD;
}

.three-section-h {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        font-family: "Roboto", sans-serif;
        text-transform: capitalize;
}

.three-section-li-one {
        background-color: #fff;
}

.mark-guerrero-product-designer-foto {
        background: url("path_to_image");
}

.three-section-h-h {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        font-family: "Roboto", sans-serif;
}

.three-section-p {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
        font-family: "Roboto", sans-serif;
}

.tom-ford-frontend-developer-foto {
        background: url("path_to_image");
}

.camila-garcia-marketing-foto {
        background: url("path_to_image");
}

.daniel-wilson-foto {
        background: url("path_to_image");
}

.four-section-h {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        font-family: "Roboto", sans-serif;
        text-transform: capitalize;
}

.four-section-li-one {
        background: #fff;
}

.four-section-foto-one {
        background-color: rgba(0, 0, 0, 0.25);
        background: url("path_to_image");
}

.four-section-h-one {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        font-family: "Roboto", sans-serif;
}

.four-section-p-one {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        font-family: "Roboto", sans-serif;
}

.four-section-li-two {
        background: #fff;
}

.four-section-foto-two {
        background-color: rgba(0, 0, 0, 0.25);
        background: url("path_to_image");
}

.four-section-li-three {
        background: #fff;
}

.four-section-foto-three {
        background-color: rgba(0, 0, 0, 0.25);
        background: url("path_to_image");
}

.four-section-li-four {
        background: #fff;
}

.four-section-foto-four {
        background-color: rgba(0, 0, 0, 0.25);
        background: url("path_to_image");
}

.four-section-li-five {
        background: #fff;
}

.four-section-foto-five {
        background-color: rgba(0, 0, 0, 0.25);
        background: url("path_to_image");
}

.four-section-li-six {
        background: #fff;
}

.four-section-foto-six {
        background-color: rgba(0, 0, 0, 0.25);
        background: url("path_to_image");
}

.footer-test {
        background: #2e2f42;
}

.text-p-footer {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        font-family: "Roboto", sans-serif;
}

.span-two {
        font-weight: 700;
        font-size: 18px;
        line-height: 1.16667;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #f4f4fd;
        font-family: "Raleway", sans-serif;
}