/* head {
    text-decoration: none;
} */

body {
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    /* width: 1440px;
    height: 3300px;
    text-decoration: none; */
    color: #434455;
}

ul, ol {
     list-style-type: none; /*прибрати знаки списків шо автоматично задаються в html */
}

a {
    text-decoration: none; /*прибрати підкреслення*/
}

header {
    background-color: rgba(0, 0, 0, 0.25); /*колір фону */
}

span {
        font-weight: 700;
        font-size: 18px;
        line-height: 1.16667;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #2e2f42;
        font-family: "Raleway", sans-serif;
}

.webs {
                font-weight: 700;
                font-size: 18px;
                line-height: 1.17;
                letter-spacing: 0.03em;
                text-transform: uppercase;
                color: #4d5ae5;
                font-family: "Raleway", sans-serif;
}

.navigation {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        font-family: "Roboto", sans-serif;
}

.navigation:focus {
    color: #404bbf;
}

.navigation:hover {
    color: #404bbf;
}

address {
        font-style: normal;
        color: #434455;
        font-family: "Roboto", sans-serif;
}


.contacts {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        /* color: #434455; */
        /* font-family: "Roboto", sans-serif; */
}
/* address:hover {
        color: #404bbf;
} */
.contacts:hover {
        color: #404bbf;
}

/* address:focus {
        color: #404bbf;
} */

.contacts:focus {
        color: #404bbf;
}

.section-one {
        background-color: #2e2f42; /*колір фону */ 
}

h1 {
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        font-family: "Roboto", sans-serif;
}

button {
    background: #4d5ae5;
    cursor: pointer; /* коли наводиш мишку на кнопку то курсор стає як рука*/
}

button:hover {
    background-color: #404BBF;
}

button:focus {
        background-color: #404BBF;
}

.button-one {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        font-family: "Roboto", sans-serif;
}

.zaholovok-section-two {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        font-family: "Roboto", sans-serif;
}

.paragraf-section-two {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        font-family: "Roboto", sans-serif;
}

.section-three {
    background: #f4f4fd;
}

.foto-one-two-three {
    background-color: rgba(0, 0, 0, 0.25);
    background: #fff;
}

.zaholovok-section-three {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        font-family: "Roboto", sans-serif;
}

.paragraf-section-3 {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;;
        font-family: "Roboto", sans-serif;
}

.zaholovok-Our-Portfolio {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11111;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        font-family: "Roboto", sans-serif;
}

.foto-section-four {
    background-color: #FFFFFF;
}

.zaholovok-section-four {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        color: #2e2f42;
        font-family: "Roboto", sans-serif;
        text-transform: capitalize;
}

.paragraf-section-four {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        font-family: "Roboto", sans-serif;

}

footer {
    background: #2e2f42;
}

.footer-text {
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}

.footer-text-paragraf {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        font-family: "Roboto", sans-serif;
}

.span-one {
        color: #f4f4fd;
        line-height: 1.17;
}