head {
    text-decoration: none;
}

body {
    font-family: "Roboto", "Raleway", sans-serif;
    background-color: #fff;
    width: 1440px;
    height: 3300px;
    text-decoration: none;
}

ul, ol {
     list-style-type: none; /*прибрати знаки списків шо автоматично задаються в html */
}

a {
    text-decoration: none; /*прибрати підкреслення*/
}

header {
    background-color: rgba(0, 0, 0, 0.25); /*колір фону */
}

span {
        font-weight: 700;
        font-size: 18px;
        line-height: 1.16667;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        font-family: "Raleway", sans-serif;
}

.Studio {
        font-weight: 700;
        font-size: 18px;
        line-height: 1.16667;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #2e2f42;
        font-family: "Raleway", sans-serif;
}

.navigation {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        font-family: "Roboto", sans-serif;
}

.navigation:active {
    color: red;
}

.navigation:hover {
    color: green;
}

.contacts {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        font-family: "Roboto", sans-serif;
}

.section-one {
    background-color: rgba(0, 0, 0, 0.25); /*колір фону */
}

h1 {
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07143;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        font-family: "Roboto", sans-serif;
}

button {
    background: #4d5ae5;
    cursor: pointer; /* коли наводиш мишку на кнопку то курсор стає як рука*/
}

.button-one {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        font-family: "Roboto", sans-serif;
}

.zaholovok-section-2 {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        font-family: "Roboto", sans-serif;
}

.paragraf-section-2 {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        font-family: "Roboto", sans-serif;
}

.section-3 {
    background: #f4f4fd;
}

.foto-1-2-3 {
    background-color: rgba(0, 0, 0, 0.25);
    background: #fff;
}

.zaholovok-section-3 {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11111;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        font-family: "Roboto", sans-serif;
}

.paragraf-section-3 {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;;
        font-family: "Roboto", sans-serif;
}

.zaholovok-Our-Portfolio {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11111;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        font-family: "Roboto", sans-serif;
}

.foto-4-5-6-7-8-9-10 {
    background: #fff;
}

.zaholovok-section-4 {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        font-family: "Roboto", sans-serif;
}

.paragraf-section-4 {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        font-family: "Roboto", sans-serif;
}

footer {
    background: #2e2f42;
}

.footer-text {
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.16667;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #f4f4fd;
}

.footer-text-paragraf {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        font-family: "Roboto", sans-serif;
}